<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/angular.min.js"></script>
  <script type="text/javascript" src="controller/app.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Master Works Of Art Web Service</title>
</head>
<body ng-app="art">
  <div ng-controller="theArt">
    <header>
      <h1> Collection of Art!</h2>
        <h3> choose how you'd like to view your art, and if you'd like to filter it!</h3>
    <button ng-click="byArtist()">View by Artist!</button>
    <button ng-click="byTitle()">View by Title!</button>
    <h3>Filter by Country the Art is Located</h3>
    <select ng-model="f.Country">
      <option></option>
      <option ng-repeat="item in loc">{{item}}</option>
    </select>
    <h3> Filter by Artistic Movement</h3>
        <select ng-model="f.Movement">
          <option></option>
      <option ng-repeat="item in movement">{{item}}</option>
    </select>
  </header>
    <div id="results">
      <h1 ng-hide="filteredPaintings.length || !paintings">There are no Paintings that fit the Search!</h1>
    <div ng-repeat="item in filteredPaintings = (paintings | filter:f)" class="displayoptions">
      <img ng-src="{{item.Image}}">
      <div class="theInfo">
      <h3 class="arttitle">Title: <b>{{item.Title}}</b></h3>
      <h3 class="artartist">Artist: <b>{{item.Artist}}</b></h3>
      <p> Location: {{item.Location}}  Movement: {{item.Movement}}</p>
    </div>
    </div>
    </div>
  </div>
  <!-- Main jumbotron for a primary marketing message or call to action -->
 <p> Based off the great work of Alex Aragon who's API documentation can be found here: <a href='https://docs.google.com/document/d/1AGbyAiRwWxau3_qy1AgERFB7o6hr5Y6WlKcEj5cpcXw/'> Click here </a>
</body>
</html>